#entete
	{
	background-color: white;
	height : 70px;
	width : 100%;
	}	
#corps
	{
	min-height : 700px;
	min-width : 700px;
	margin-left : 20px;
	margin-right : 20px;
	margin-top : 0px;
	padding: 25px;
	}
#Pied_de_Page
	{
	background-color : #000000;
	min-width : 730px;
	min-height : 50px;
	border : thin black solid; 
	color : white;
	text-align:center;
	}
.info
	{
	position : relative;
	vertical-align:bottom;
	margin-top : 35%;
	text-align : right;
	}
body 
	{
	background-color : white;
	}
p
	{
	font-family : Colibri, Arial;
	margin-left : 20px;
	font-size: 20px;
	}
table
	{
	border: thin solid black;
	border-collapse: collapse;
	}
th,td
	{
	text-align: center;
	border: thin solid black;
	}
.textepiedpage
	{
	font-size : small;
	font-family : "Comic sans ms", Arial;
	color : white;
	}
.texteCorps
	{
	font-size : medium;
	font-family : "Comic sans ms", Arial;
	}
.puce
	{
	margin-left: 20px;
	position:relative;
	top:3px;
	box-shadow: 0 0 30px 12px #0e4572;
	}
.table1
	{
	margin-left:230px;
	}
.table2
	{
	margin-left:160px;
	}
.grey
	{
	background-color: grey;
	}
.white
	{
	background-color: #E8765E;
	}
	.white2
	{
	background-color: #973f2d;
	}
.centre
	{
	margin-left : 300px;
	}
.images
	{
	Text-align: center;
	}
.ecart
	{
	padding-left : 15px;
	padding-right : 15px;
	}
a:visited
	{
	color: #808080;
	}
a:link
	{
	color: #1448b4;	
	}	
a:hover
	{
	color: #808080;
	}

.boutonMenu{
	height: 50px;

	width: 13.75%;
}
.carousel2
{
	margin-left: 50px;
	margin-right: 650px;
}
#navigation{
	text-decoration: underline;
	font-size: 18px;

}
.sn{
	margin-left: 20px;
	line-height: 95px;
	text-align: left;
	font-size: 40px;
	font-family: 'Teko', sans-serif;
	width: 50px;
}
.sn:hover{
	color:blue;
}
.bts{
	text-align: center;
	margin-right: 20px;
	font-size: 28px;
	font-family: 'Open Sans Condensed', sans-serif;
	line-height: 110px;
	
	
}
#gauche{
	width: 150px;
	float: left;
	height : 70px;
}
#droite{
	width: 550px;
	float: center;
	height : 70px;
	margin-left: 700px;
	
}
.sn2{
	line-height: 95px;
	font-size: 40px;
	font-family: 'Teko', sans-serif;
	height: 65px;
	color: blue;
	
}
#gauche2{
	width: 155px;
	float: left;
	height : 70px;


}

